<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatic Gearbox</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="icon" href="/static/gearbox.png">
</head>
<body>
    <div class="header">
        <h1>Automatic Gearbox</h1>
        <h5>Automatic transmission that can change gears N - 8 depending on engine speed.</h5>
        <H4>RPM: {{ rpm }} KMH: {{ speed }} GEAR: {{ gear }} </H4> 
        <input type=button onClick="location.href='/on'" value='START'>
        <input type=button onClick="location.href='/off'" value='OFF'>
        <input type=button onClick="location.href='/gas'" value='GAS'>
        <input type=button onClick="location.href='/brake'" value='BRAKE'>
        <div class="Linkonme">
            <H6>Link on me!</H6>
            <a href="https://gitlab.com/JTreneL">JTreneL</a>
        </div>
    </div>
<body>
</html>






























