body {
    background-color: rgb(34, 34, 34);
}

.header {
background-color: black;
background-size: contain;
position: fixed;
width: 100%;
height: 40%;
text-align: center;
text-shadow: 2px 2px rgb(255, 255, 255);
color: rgb(14, 154, 219);
font-size: 40px;
border-radius: 4px;
}

.linkonme {
color: rgb(2, 2, 2);
font-size: 5px;
}